/* css style reset begin */
    /**
    * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
    * http://cssreset.com
    */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    line-height: 1;
    }
    ol, ul {
    list-style: none;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }
/* reset end */
fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
} 
h1 {
    font-size:3em;
    font-weight:900
}
h2 {
    font-size:2.5em;
    font-weight:700
}
h3 {
    font-size:2em;
    font-weight:600
}
h4 {
    font-size:1.5em;
    font-weight:500;
}
table {
    width:90%;
    margin:1em;
}
tr:nth-child(even) {
    background-color:#cce6ff
}
th, tr {
    padding:3px;
    text-align:left;
}
th {
   background-color:#0073e6;
   color:#FFFFFF;
   font-size:1.2em;
   font-weight:600
}

/* header image style begins*/


/* end */

/* back ground and wrap style begin */

body {
    background-color:#000000;
}
#wrap {
     background-color:#331a00;
     width:85em;
     height:70em;
     margin-left:auto;
     margin-right:auto   
}
/* end */

/* nav barr style begin */
#nav-bar {
    background-color:#000000;
    width:85em;
    height:2em;
}
#nav-bar ul li {
    color:#FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:2em;
    display:inline;
    padding-left: .5em;
}
#nav-bar ul li a:link {
    color:#FFFFFF;
    text-decoration: none;
}
#nav-bar ul li a:visited {
    color:#FFFFFF;
    text-decoration: none;
}
#nav-bar ul li:hover {
    background-color:#adad85;
}
/* nav barr end */

/* calendar section style begin */
#calendar-section {
	float:left;
    position: relative;
}
#calendar-icon , #mini-calendar-icon {
	cursor:pointer
}
#calendar-pannel {
	position:absolute;
	width:60em;
	height:29.9em;
	background:#FFFFFF;
	z-index:1;
    box-shadow: 10px 10px 5px #595959;
}
#calendar-pannel table {
	clear:both;
	width:60em;
	height:28em;
    margin:0;
}
#calendar-pannel table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.event-area {
	width:8.5em;
	height:3.1em;
	overflow:auto
}
#calendar-pannel ul {
	display:block
}
#year-month {
	margin-left:25em;
	font-size:1.5;
	font-weight:bold
}
#left-arrow {
	float:left;
	color:#000099;
	font-size:1.5em;
	cursor:pointer
}
#right-arrow {
	float:right;
	color:#000099;
	font-size:1.5em;
	cursor:pointer
}
.this-month {
	background: #FFFFFF
}
.this-month:hover {
	background: #E36D9E
}
.not-month {
	background: #6699ff
}
.is-today {
	background: #ffff00
}
.event-area ul li{
	font-size:.85em;
	color:#000000;
	cursor:pointer
}
#calendar-event {
	position:absolute;
	border:1px #000000 solid;
	width:40em;
	height:30em;
	background:#FFFFFF;
    box-shadow: 10px 10px 5px #595959;
	z-index:2;
    left:2em;
    top:6em
}
#mini-calendar {
	width:18em;
	height:11em;
	background:#FFFFFF;
	position:absolute;
	z-index:4;
    text-align:center;
    border:1px #000000 solid; 
    box-shadow: 10px 10px 5px #595959;
    left:1em;
    top:3em
}
#event-end-area {
    position: relative;
}
#mini-calendar td.this-month {
	cursor:pointer
}
#year-month-mini {
	margin-left:1em;
	font-size:1em;
	font-weight:bold
}
#left-arrow-mini {
	float:left;
	color:#000099;
	font-size:2em;
	cursor:pointer;
}
#right-arrow-mini {
	float:right;
	color:#000099;
	font-size:2em;
	cursor:pointer
}
/* calendar section style end */


/* log pannel style begin */
#log-pannel {
    float:left;
    clear:left;
    width:11em;
    height:15em;
    background-color:#FFFFFF;
    margin:5em 5em 0 3em;
}
/* end */

/* social pannel style begin */
#social-pannel {
    float:left;
    clear:left;
    width:11em;
    height:3em;
    background-color:#FFFFFF;
    margin:0 5em 0 3em
}
#social-pannel ul li {
    display:inline
}
/* end */

/* right pannel style begin */
#right-pannel {
    float:right;
    width:9em;
    height:18em;
    background-color:#FFFFFF;
    margin:5em 3em 0 5em;
}
/* end */

/* main pannel style begin */
#main-pannel {
    height:48em;
    width:49em;
    position:absolute;
    background-color:#FFFFFF;
}
#inner-wrap {
    float:right;
    height:48em;
    width:49em;
    margin-top:3em;
}
/* end */
/* pannel rotate style begin */
.rotate-button {
	float:right;
	clear:both;
}
.back-pannel , .front-pannel {
	position:absolute;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	background: #FFFFFF;
	width:100%;
    height:100%;
}
.back-pannel {
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg)
}
.front-pannel.flipped {
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg)
}
.back-pannel.flipped {
	-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg)
}
/* pannel rotate style end */
/* members page styles begin */
.member-section {
	float:left;
	width:24em
}

.members-list {
    float:left;
    width:24em
}
.group-section {
    float:right;
    width:25em
}
.high-drop {
    background:#66FF66
}
#add-member {
	float:left;
	clear:both
}
/* members page styles end */
/* profile page styles start */

.profile-pic {
	width:20em;
	height:20em;
	float:left
}
.profile-qte{
	width:29em;
	height:20em;
	float:right
}
.profile-info{
	clear:both
}
.profile-pic img {
	width:100%;
	max-width:280px;
    max-height:280px
}
#profile-nav {
	clear:both;
	padding-top:1em
}
#profile-nav ul li {
    display:inline;
    margin-left:10px;
    padding:5px 5px 0 5px;
    cursor:pointer;
    border-left:1px #000000 solid;
    border-right:1px #000000 solid;
    border-top:1px #000000 solid;
    border-bottom:1px #FFFFFF solid;
    border-radius:5px 5px 0px 0px;
}
#profile-update {
	width:100%;
	border:1px #000000 solid;
	height:26em
}
#profile-form {
    width:24em;
    float:left
}
#change-password {
    width:24em;
    float:right
}
#change-email {
    width:24em;
    float:right
}
#archive-update {
	width:100%;
	border:1px #000000 solid;
	height:26em
}
#dues-section {
	width:100%;
	border:1px #000000 solid;
	height:26em
}
.open-tab {
    background-color:#FFFFFF
}
.closed-tab {
    opacity: 0.4
}
.open-section {
	display:block
}
.closed-section {
	display:none;
    padding: 0em;
}
/* profile page style end */
.arc-year {
	cursor:pointer
}
/* groups page style start */
.group-div {
    width:33%;
    float:left;
}
.group-div img {
    max-width:200px;
}
.group-pic {
	width:36%;
	height:18em;
	float:left
}
.group-disc {
	width:64%;
	height:18em;
	float:right
}
.group-members {
	clear:both;
	width:100%;
	height:25em;
}
.group-members h4 {
	text-align:center
}
.group-pic img {
	width:100%;
	max-width:250px
}
.officer-list {
	width:100%;
	text-align:center
}
.officer-list img {
	max-width:125px
}
.officer-list a {
	margin-left:auto;
	margin-right:auto
}
.group-member {
	width:25%;
	float:left;
	text-align:center
}
.group-member img {
	max-width:120px
}
/* groups page style end */

/* arhcive page style start */

/* archive page style end */
#loading-pannel {
    background-image:url('../images/ajax-loader.gif');
    background-position:center;
    background-repeat:no-repeat;
    z-index:1;
    height:48em;
    width:49em;
    position:absolute;
    background-color:#FFFFFF;
}
.error {
	color:#FF0000
}
.large-font {
    font-size:3em;
    font-weight:900;
}
.centered {
    text-align:center
}
.auto-scroll {
    overflow:auto;
}
