/* css style reset begin */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* reset end */
fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
} 
/* back ground and wrap style begin */

body {
    background-color:#E4C27C
}
#wrap {
     background-color:#FFFFFF;
     width:85em;
     height:60em;
     margin-left:auto;
     margin-right:auto   
}
/* end */

/* nav barr style begin */
#nav-bar {
    background-color:#000000;
    width:85em;
    height:3em
}
#nav-bar ul li {
    color:#FF0066;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.5em;
    display:inline;
    margin:0 .5em 0 .5em;
}
/* nav barr end */

/* logo style begin */
#logo {
    float:left;
    width:12.6em;
    height:7.2em;
    border:1px #00FF00 solid;
    
}
/* end */

/* log pannel style begin */
#log-pannel {
    float:left;
    clear:left;
    width:12.6em;
    height:20em;
    border:1px #00FF00 solid;
}
/* end */

/* social pannel style begin */
#social-pannel {
    float:left;
    clear:left;
    width:12.6em;
    height:5em;
    border:1px #00FF00 solid;
}
#social-pannel ul li {
    display:inline
}
/* end */

/* right pannel style begin */
#right-pannel {
    float:right;
    width:12em;
    height:22em;
    border:1px #00FF00 solid;

}
/* end */

/* main pannel style begin */
#main-pannel {
}
#inner-wrap {
    float:right;
    height:56em;
    width:60em;
    border:1px #00FF00 solid;
}
/* end */
/* pannel rotate style begin */
.rotate-button {
	float:right;
	clear:both;
}
#back-pannel , #front-pannel {
	position:absolute;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	background: #FFFFFF;
    width:60em;
}
#back-pannel {
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg)
}
#front-pannel.flipped {
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg)
}
#back-pannel.flipped {
	-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg)
}
/* pannel rotate style end */
/* members page styles begin */
.member-section {
	float:left;
	width:30em
}

.members-list {
    float:left;
    width:30em
}
.group-section {
    float:right;
    width:28em
}
.high-drop {
    background:#66FF66
}
#add-member {
	float:left;
	clear:both
}
/* members page styles end */
/* profile page styles start */

.profile-pic {
	width:20em;
	height:20em;
    border:1px #00FF00 solid;
	float:left
}
.profile-qte{
	width:39em;
	height:30em;
    border:1px #00FF00 solid;
	float:right
}
.profile-info{
	clear:both
}
.profile-pic img {
	width:100%;
	max-width:300px
}
#profile-nav {
	clear:both;
	padding-top:1em
}
#profile-nav ul li {
    display:inline;
    margin-left:10px;
    padding:5px 5px 0 5px;
    cursor:pointer;
    border-left:1px #000000 solid;
    border-right:1px #000000 solid;
    border-top:1px #000000 solid;
    border-bottom:1px #FFFFFF solid;
    border-radius:5px 5px 0px 0px;
}
#profile-update {
	width:100%;
	border:1px #000000 solid;
	height:20em
}
#archive-update {
	width:100%;
	border:1px #000000 solid;
	height:20em
}
#dues-section {
	width:100%;
	border:1px #000000 solid;
	height:20em
}
.open-tab {
    background-color:#FFFFFF
}
.closed-tab {
    opacity: 0.4
}
.open-section {
	display:block
}
.closed-section {
	display:none
}
/* profile page style end */
.arc-year {
	cursor:pointer
}
/* groups page style start */
.group-pic {
	width:35%;
	height:22em;
    border:1px #00FF00 solid;
	float:left
}
.group-disc {
	width:64%;
	height:22em;
    border:1px #00FF00 solid;
	float:right
}
.group-members {
	clear:both;
	width:100%;
	height:33em;
    border:1px #00FF00 solid;
}
.group-members h4 {
	text-align:center
}
.group-pic img {
	width:100%;
	max-width:300px
}
.officer-list {
	width:100%;
	text-align:center
}
.officer-list img {
	max-width:125px
}
.officer-list a {
	margin-left:auto;
	margin-right:auto
}
.group-member {
	width:25%;
	float:left;
	text-align:center
}
.group-member img {
	max-width:120px
}
/* groups page style end */

/* arhcive page style start */
.
/* archive page style end */
#loading-pannel{
    background-image:url('../images/ajax-loader.gif');
    background-position:center;
    background-repeat:no-repeat;
    z-index:1;
    height:56em;
    width:60em;
    position:absolute
}
.error {
	color:#FF0000
}
