vti_encoding:SR|utf8-nl
vti_author:SR|mustafa-PC\\mustafa
vti_modifiedby:SR|mustafa-PC\\mustafa
vti_timelastmodified:TR|03 Feb 2016 16:34:46 -0000
vti_timecreated:TR|04 Nov 2015 14:20:35 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|template.html test3.php
vti_nexttolasttimemodified:TW|03 Feb 2016 16:32:43 -0000
vti_cacheddtm:TX|03 Feb 2016 16:34:46 -0000
vti_filesize:IR|3156
vti_cachedlinkinfo:VX|S|../images/ajax-loader.gif
vti_cachedsvcrellinks:VX|FSUS|images/ajax-loader.gif
